.modal{
    background: rgba(0,0,0,0.3);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 0;
    left: 0;

}


.modal-conteudo{
    max-width: 90%;
    width: 600px;
    background-color: white;
    padding: 20px;

}