.modal {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
  left: 0;
}

.modal-container {
  max-width: 90%;
  width: 600px;
  background-color: white;
  padding: 28px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.modal-button {
  border: 0;
  margin: 0;
  padding: 8px;
  background: transparent;
  cursor: pointer;
  color: rgb(52 52 52);
}

.modal-header h1 {
  font-weight: bold;
  font-size: 22px;
}

.modal-button svg {
  display: block;
}

.modal-content {
}
